<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sinatra memo app</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header>
      <div class="container mt-30">
        <nav class="level">
          <a class="link is-info" href="/">Home</a>
        </nav>
      </div>
    </header>
    <div class="container mt-30">
      <%= yield %>
    </div>
  </body>
</html>
