<div class="field">
  <div class="control">
    <form action="memo" method="POST">
      <input class="input" type="text" placeholder="title" name="title">
      <textarea class="textarea mt-30" type="text" placeholder="body" name="body"></textarea>
      <input class="button is-primary mt-30" type="submit">
    </form>
  </div>
</div>
