<div class="field">
  <div class="control">
    <form action="memo" method="POST">
      <input class="" type="text" placeholder="title" name="title">
      <input class="" type="text" placeholder="body" name="body">
      <input type="submit">
    </form>
  </div>
</div>
