<a class="button is-link" href="/new">追加</a>
<p class="subtitle mt-30">All memo's title :)</p>

<div class="content">
  <ul>
    <% @memos.each do |memo| %>
      <li><a href="/memo/<%= memo["id"]%>"><%= memo["title"] %></a></li>
    <% end %>
  </ul>
</div>
